* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: antiquewhite;
}

.container {
  padding: 0 120px;
}

.header__h1 {
  font-family: 'Fredoka One', cursive;
}

.main {
  display: flex;
  flex-direction: column;
  color: rgb(67, 111, 255);
}

.main:hover {
  color: black;
}

.main__div-first {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1.5px solid rgb(199, 199, 199);
}

.main__div-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__input {
  display: none;
}

input:checked ~ img {
  transform: rotate(45deg);
}

.main__label-text {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
}

.main__img-plus {
  visibility: hidden;
  width: 18px;
  transition: 0.4s;
}

.main:hover .main__img-plus {
  visibility: visible;
}

.main__img-meme {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.4s;
}
